
*, *:before, *:after {

	box-sizing: border-box;
}

:root {

	--font-xxl:      2rem;
	--font-xl:     1.5rem;
	--font-l:     1.25rem;
	--font-m:    1.125rem;
	--font-base:     1rem;
	--font-s:    0.875rem;
	--font-xs:    0.75rem;
}

html {

	font-size: 100%; /* 通常等於瀏覽器預設的 16px */

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	/* -webkit-text-size-adjust: 100%; */
	-webkit-text-size-adjust: none;
	   -moz-text-size-adjust: none;
	    -ms-text-size-adjust: none;
	        text-size-adjust: none;
	
	text-rendering: optimizeLegibility;
	
	/* -webkit-font-smoothing: antialiased; */
	
	scroll-behavior: smooth;
	
	outline: none;
}

body {

	/* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	/* font-family: cursive, Arial, Helvetica, sans-serif; */
	
	font-size: 1rem; /* 套用 html 的基準大小 */
	
	line-height: 1.5;
}

br { 

	display: block; 
	
	line-height: 2.2em; 
} 

strong {

	font-weight: bold;
} 

input, textarea { 
			
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
	        text-size-adjust: 100%;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	
	-webkit-font-smoothing: antialiased;
	
	outline: none; 
}

input[readonly] {

	background-color: #00FFFF;
}

/* Safari */
@-webkit-keyframes spin {

	0% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {

	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

::-webkit-selection {background: #A4DCEC;}
   ::-moz-selection {background: #A4DCEC;}
        ::selection {background: #A4DCEC;}

/* WebKit browsers */
::-webkit-input-placeholder {
			
	color: #CCC;
	
	font-style: italic;
}

/* Mozilla Firefox 19+ */
::-moz-placeholder {
			
	color: #CCC;
	
	font-style: italic;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
			
	color: #CCC !important;
	
	font-style: italic;  
}
			
.text--xxl {

	font-size: var(--font-xxl);
}

.text--xl {

	font-size: var(--font-xl);
}

.text--l {

	font-size: var(--font-l);
}

.text--m {

	font-size: var(--font-m);
}

.text--s {

	font-size: var(--font-s);
}

.text--xs {

	font-size: var(--font-xs);
}

.mt-4 {

	margin-top: 2rem;
}

.mr-2 {

	margin-right: .5rem;
}

.mr-3 {

	margin-right: 1rem;
}

.mr-4 {

	margin-right: 2rem;
}

.mr-5 {

	margin-right: 2.5rem;
}

.mr-6 {

	margin-right: 3rem;
}

.ml-2 {

	margin-left: .5rem;
}

.ml-3 {

	margin-left: 1rem;
}

.ml-4 {

	margin-left: 2rem;
}
